<div class="row">
  <div class="col-6">
    <div *ngIf="home.image">
      <!--  <button routerLink="/booking/add-booking" [state]="home">Booking</button>-->
      <button (click)="sendHomeToBooking()">Booking</button>
      <h3>Name: {{home.name}}</h3><br>
      <h3>Address: {{home.address}}</h3><br>
      <h3>Category Home: {{cateHome.nameCateHome}}</h3><br>
      <h3>Category Room: {{cateRoom.nameCateRoom}}</h3><br>
      <h3>Number Bath: {{home.numberBath}}</h3><br>
      <h3>Number Bad: {{home.numberBad}}</h3><br>
      <h3>Description: {{home.description}}</h3><br>
      <h3>Price: {{home.price}}$</h3><br>
      <img src="http://localhost:8080/api/auth/uploads/img/{{home.image}}" alt="{{home.image}}" class="myImg">
    </div>

  </div>
  <div class="col-6">
    <app-comment-detail [comments]="comments" [commentInfo]="commentInfo"></app-comment-detail>
  </div>
</div>

<!--<div *ngIf="home.image">-->
<!--&lt;!&ndash;  <button routerLink="/booking/add-booking" [state]="home">Booking</button>&ndash;&gt;-->
<!--  <button (click)="sendHomeToBooking()">Booking</button>-->
<!--  <h3>Name: {{home.name}}</h3><br>-->
<!--  <h3>Address: {{home.address}}</h3><br>-->
<!--  <h3>Category Home: {{cateHome.nameCateHome}}</h3><br>-->
<!--  <h3>Category Room: {{cateRoom.nameCateRoom}}</h3><br>-->
<!--  <h3>Number Bath: {{home.numberBath}}</h3><br>-->
<!--  <h3>Number Bad: {{home.numberBad}}</h3><br>-->
<!--  <h3>Description: {{home.description}}</h3><br>-->
<!--  <h3>Price: {{home.price}}$</h3><br>-->
<!--  <img src="http://localhost:8080/api/auth/uploads/img/{{home.image}}" alt="{{home.image}}" class="myImg">-->
<!--</div>-->

