<div class="container">
  <div class="row">
    <div class="col-1">
      col-1
    </div>
    <div class="col-1">
      col-1
    </div>
    <div class="col-10">
      col-10
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      column-3
    </div>
    <div class="col-5">
      column-5
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      column-1
    </div>
    <div class="col-11">
      column-11
    </div>
  </div>
</div>
